{
    "all": true,
    "per-file": true,
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "src/**/*.interface.ts",
      "src/**/index.ts"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "text-summary",
      "html"
    ],
    "sourceMap": true,
    "instrument": true
  }